.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    overflow: scroll;
    @media (max-width:1500px) {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
}

.Content p.p {
    width: 80vw;
    margin-left: 10vw;
}
.container {
    margin-bottom: 0 !important;
}

.bottomBar {
    height: 40px;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    background-color: #bbb;
}

.hidden {
    display: none;
}