.container {
    justify-self: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.ServerHeader {
    width: 80%;
    align-content: center;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
}

.BottomText p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    font-size: 10px;
}

.ServerHeader * {
    width: 100%;
    float: center;
    justify-self: center;
}

.ServerHeaderCenter {
    text-align:center;
    height:auto;
    width:100%;
    margin-bottom: 0;
}

.ServerHeaderImage {
    border-radius: 100%;
    width: 128px;
    height: auto;
}

.ServerHeaderCenter h3 {
    width: 100%;
    position: relative;
    display: inline-block;
}
.ServerHeader h4 {
    height: auto;
}
.ServerHeaderCenter h1 {
    margin-bottom: 0;
}

.form {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
}

.buttonContainer {
    width: 100%;
    align-content: right;
    margin-top: 50px;
}

.button {
    color: #6576CC;
    border-radius: 5px;
    border: solid #6576CC 4px;
    padding: 5px;
    font-size: 20px;
    float: right;
    background-color: #fff;
}
.button:hover {
    border-color: #4B5899 !important;
    background-color: #eee !important;
    color: #4B5899 !important;
}


.BottomText p {
    margin-top: 50px;
    font-size: 20px;
}
.BottomText p highlight {
    color: #6576CC;
}

.ServerHeader h4 {
    font-weight: 350;
    font-size: 25px;
    text-align: center;
}