.header {
  grid-area: 1 / 1 / 5 / 12;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  max-height: 75vh;
}

.headerImage {
  width: 100%;
  height: max(100vh, 450px);
  object-fit: cover;
  position: static;
  background-image: url("/background.svg");
  background-size: cover;
  background-repeat:no-repeat;
  background-clip: content-box;
  background-color: #D3D3D3;
  margin-top: -5px;
  padding: 0;
}

.headerImageContent {
  filter: blur(0);
  width: 75%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 33%;
  left: 12.5%;
}

.headerImageContent hr {
  width: 60vw;
  margin-top: 0;
  justify-self: center;
  border: solid #000 1px;
}

.headerImageTitle {
  color: #000;
  text-align: center;
  font-size: max(min(7vw, 100px), 3vw);
  font-weight: normal;
  width: 100%;
  padding-top: 2em;
  margin-bottom: 0;

  width: 100%;
  position: relative;
  text-align: center;
}

.headerImageTagline {
  color: #000;
  text-align: center;
  font-weight: 200;
  font-size: max(min(77px, 7vw), 5vh);
  margin-top: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
}

.hr {
  border: solid rgba(0, 0, 0, 50%) 1px;
  width: 45%;
}