.backgroundImage {
    position: absolute;
    bottom: 0;
    /* bottom: 50vh;
    transform: translateY(50%); */
    width: 100%;
    filter: var(--theme-ui-colors-cardFilter);
    transition: filter 0.3s ease-in-out;
    user-select: none;
}

.backgroundGradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: var(--theme-ui-colors-cardFilter);
    transition: filter 0.3s ease-in-out;
}

.header {
    width: 100vw;
    position: relative;
    overflow: hidden;
    transition: filter 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel {
    position: relative;
    overflow: hidden;
    width: min(calc(100vw - 40px), 750px);
    border-radius: 25px;
    background-color: var(--theme-ui-colors-cardBackground);
    transition: background-color 0.3s ease-in-out;
    backdrop-filter: blur(7px);
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20vh;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: -20px;
    font-size: 3em;
    color: var(--theme-ui-colors-text);
    transition: color 0.3s ease-in-out;
    word-break: break-word;
    font-variant-ligatures: none;
}

.subtext {
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
    margin-top: 50px;
    color: var(--theme-ui-colors-text);
    transition: color 0.3s ease-in-out;
}

.subtextExtra {
    margin-bottom: 40px;
}

.buttonLayout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
}
.buttonOverflow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: calc(100% - 10px);
    height: auto;
    border-radius: 10px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    position: static;
    flex: none;
    order: 1;
    flex-grow: 0;

    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}

.headerImage {
    width: auto;
    height: 64px;
    object-fit: cover;
    object-position: center;
    transition: filter 0.3s ease-in-out;
    margin-bottom: 20px;
    user-select: none;
}

.indicator {
    height: auto;
    width: 24px;
    margin-inline: 5px;
    padding: 0;
}
