.icon {
    height: 32px;
    margin: 0;
    padding: 0;
    width: 32px;
}

.container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    height: 42px;
    padding: 5px;
    padding-left: 25px;

    z-index: 69;
}

.divider {
    height: 100%;
    width: 3px;
    border-radius: 100vh;
    background-color: #424242;
}

.skipNav {
    width: 0%;
    overflow: hidden;
    color: white;
    max-lines: 1;
    text-overflow: clip;
    -webkit-line-clamp: 1;
    height: 20px;
    transition: width 0.3s ease-in-out;
}

.skipNav:focus {
    width: 100%;
    overflow: auto;
}