.icon {
    height: 32px;
    margin: 0;
    padding: 0;
    width: 32px;
    user-select: none;
}

.themeChangeIcon {
    margin-bottom: 10px;
    transform: translateY(var(--theme-ui-colors-offset));
    transition: transform 0.3s ease-in-out;
}

.container {
    height: 42px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;

    padding-left: 25px;
    padding-block: 5px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}

.divider {
    height: 100%;
    width: 3px;
    border-radius: 100vh;
    background-color: #424242;
}

.skipNav {
    width: 0%;
    overflow: hidden;
    color: white;
    max-lines: 1;
    text-overflow: clip;
    -webkit-line-clamp: 1;
    height: 20px;
    transition: width 0.3s ease-in-out;
}

.skipNav:focus {
    width: 100%;
    overflow: auto;
}

.slideUp {
    transform: translateY(-100%);
}

.cutoffContainer {
    position: fixed;
    height: 42px;
    width: 100%;

    top: 0;
    overflow: hidden;
    z-index: 100;
}


.message {
    font-size: 1.2rem;
    padding-left: 10px;
    color: white;
    transition: color 0.3s ease-in-out;
}