.container {
    width: 80%;
    margin-left: 10%;
}

.container code {
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    background-color: #d5d5d5;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.container a {
    color: #000;
    font-size: 20px
}