.panel {
    min-height: 50px;
    padding: 10px;
    padding-block: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    gap: 10px;

    background-color: var(--theme-ui-colors-panelColor);
    transition: background-color 0.3s ease-in-out !important;

    border-radius: 20px;
}

.doublePanel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    column-width: 100%;
}

@media (max-width: 900px) {
    .doublePanel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .halfWidth {
        width: 100%;
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
    padding-inline: 20px;
    background-color: var(--theme-ui-colors-background);

    transition: 0.3s ease-in-out background-color;
}

.title {
    width: 100%;
    font-size: min(max(2em, 3.25vw), 4em);
    margin: 0;
    color: var(--theme-ui-colors-text);
    transition: color 0.3s ease-in-out;
    font-weight: lighter;
    text-align: center;
    word-break: break-word;
}

.subtitle {
    width: 100%;
    font-size: max(2em, 2vw);
    color: var(--theme-ui-colors-text);
    transition: color 0.3s ease-in-out;
    font-weight: lighter;
    text-align: center;
    word-break: break-word;
    margin-block: 0;
}

.text {
    width: 100%;
    text-align: center;
    padding-inline: "15%";
    font-size: 120%;
    color: var(--card-text-color);
    transition: color 0.3s ease-in-out;
    margin-top: 0;
    margin: 10px
}

.divider {
    width: 75%;
    height: 6px;
    min-height: 6px;
    border-radius: 100vw;
    margin-block: 10px;
    transition: background-color 0.3s ease-in-out;
}
