.optionBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

/* .optionBox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
} */

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    align-items: center;
    width: fit-content;
    height: 100%;
}

/* .option {
    height: 20px;
    width: 20px;
    position: absolute;
    border: solid 5px red !important;
    background-color: blue;
} */