.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
}

.item {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}