.BoxContainer {
    box-shadow: 2px 2px 10px #00000010;
  
    display: flex;
    flex-direction: column;

    flex: none;
    order: 0;
    margin: 47px 0px;
    margin-right: 20px;
    margin-left: 20px;
  
    background-color: #f6f6f6b0;
  
    box-sizing: border-box;
    border-radius: 7px;
    transition: box-shadow 0.5s;
    width: 17.5vw;
    height: 15vw;
    max-height: 25vw;
    left: 0px;
    top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    overflow: scroll;
}

.BoxContainer:hover {
    box-shadow: 1px 1px 3px #000000a0;
}

.BoxContainer.red {
    border: 1px solid #F27878;  
}

.BoxContainer.green {
    border: 1px solid #65CC76;  
}

.BoxContainer.blue {
    border: 1px solid #6576CC;  
}

.BoxContainer code {
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    background-color: #d5d5d5;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}


.h3 {
    color: #000;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    font-weight: normal;
}

.hr {
    width: 95%;
}

.hr.red {
    border-top: 1px solid #F27878;
}
.hr.green {
    border-top: 1px solid #65CC76;
}
.hr.blue {
    border-top: 1px solid #6576CC;
}
.title {
    text-transform: capitalize;
    font-size: 1.3em;
    text-overflow: "";
    overflow: hidden;
}

.description {
    text-align: left;
    text-overflow: "";
    overflow-y: scroll;
    overflow-x: hidden;
    flex-basis: 0;
    flex-grow: 1;
}

.BoxContainer button {
    color: #6576cc;
    float: right;
    background-color: transparent;
    font-weight: normal;
    position: relative;
    bottom: 0px;
    right: 0px;
    font-size: 18px;
    margin-bottom: 10px;
    align-self: flex-end;
}