.container {
    width: max(80%, calc(100% - 20px));
    margin-left: calc((100% - max(80%, calc(100% - 20px))) / 2);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: min(428px, 90%);
    margin: 20px;
}