.background {
	border-radius: 16.5px;
}
.titleScript {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20.625px;
	line-height: 24px;
}

.buttonLayout {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 6.20455px 17.7273px;
	border-radius: 8.86364px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 10px;

}