.blackbar {
    color: #111111;
    width: 100%;
    height: 40px;
    border-color: #111111;
}

.blackblock {
    justify-content: center;
    background-color: #222222;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-color: #222222;
    padding-bottom: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left:100px;
    padding-right:100px;
    float: left;
    width: auto;
    text-align: center;
}

.h1Title {
    font-weight: 600;
    color: #FFFFFF;
}