@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

html {
  /* background-color: var(--theme-ui-colors-background); */
    transition: background-color 0.3s ease-in-out;
  background-color: #000000 !important;
  transition: 0.3s ease-in-out border-radius;
  border-radius: 0px;
}
body {
  background-color: var(--theme-ui-colors-background);
  overflow: hidden;
  overflow-y: auto;
  transition: 0.3s ease-in-out border-radius;
  padding-bottom: 0;
  border-radius: 25px;
}

body {
  height: 100%;
  overflow: hidden;
}
html {
  position: absolute;
  top: 42px;
  height: calc(100vh -42px + 1px);
  overflow-y: auto;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  color: var(--theme-ui-colors-primary);
    transition: color 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

code {
  font-family: monospace;
  font-weight: bold;
  color: #F27878;
  background-color: var(--theme-ui-colors-hint);
    transition: background-color 0.3s ease-in-out;
  padding: 2px;
  font-size: 105%;
  border-radius: 5px;
  padding-left: 5px;
}
