$light-mode: true;

html,
body {
padding: 0;
padding-top: 20px;
margin: 0;
}


@if $light-mode {

    a {
    color: #6576CC;
    text-decoration: none;
    }

    * {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    } 
    button {
    border: none;
    display: inline-block;
    }
    button:hover {
    background-color: transparent;
    }
} @else {
    html,
    body {
    color: #424242;
    }
    html::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    }

    a {
    color: #6576CC;
    text-decoration: none;
    }

    * {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    } 
    button {
    border: none;
    display: inline-block;
    }
    button:hover {
    background-color: transparent;
    }
}