$light-mode: true;

html,
body {
padding: 0;
padding-top: 20px;
margin: 0;
scroll-behavior: smooth;
overflow-y: scroll;
}

code {
    background-color: #CCCCCC;
}

::-webkit-scrollbar {
    width: 7.5px;
    background: transparent;
}

@if $light-mode {

    html,
    body {
        background-color: #e4e4e4;
    }

    a {
    color: #6576CC;
    text-decoration: none;
    }

    * {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    } 
    button {
    border: none;
    display: inline-block;
    }
    button:hover {
    background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #71AEF566;
    }

} @else {
    html,
    body {
    color: #424242;
    }

    a {
    color: #6576CC;
    text-decoration: none;
    }

    * {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    } 
    button {
    border: none;
    display: inline-block;
    }
    button:hover {
    background-color: transparent;
    }
}