@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

html {
  background-color: var(--theme-ui-colors-background);
	transition: background-color 0.3s ease-in-out;
}


a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  color: var(--theme-ui-colors-primary);
	transition: color 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

code {
  font-family: monospace;
  font-weight: bold;
  color: #F27878;
  background-color: var(--theme-ui-colors-hint);
	transition: background-color 0.3s ease-in-out;
  padding: 2px;
  font-size: 105%;
  border-radius: 5px;
  padding-left: 5px;
}
