$light-mode: true;

:root {
    --background-color: #232323;
    --text-color: white;
    --blurple-text-color: #775ebf;
    --header-image-background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(/background.svg);
    --header-image-background-size: cover;
    --header-image-text-seperator-border: 1px solid rgba(255, 255, 255, .5);
    --invert-filter: invert(1);
    --navbar-menu-background: hsla(0, 0%, 0%, .5);
}

html {
    background-color: var(--background-color);
}

body {
    margin-right: -15px;
}

html,
body {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

code {
    background-color: #CCCCCC;
}

::-webkit-scrollbar {
    width: 7.5px;
    background: transparent;
    padding:0;
    margin:0;
}
::-webkit-scrollbar-track {
    border-radius: 7.5px;
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

//@if $light-mode {

    body {
        background-color: #fff;
    }

    a {
    color: var(--blurple-text-color);
    text-decoration: none;
    }

    * {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    }
    button {
    border: none;
    display: inline-block;
    }
    button:hover {
    background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #8D8D8D;/*#71AEF566;*/
        border-radius: 20px;
    }

//} @else {
//    html,
//    body {
//    color: #424242;
//    }
//
//    a {
//    color: #6576CC;
//    text-decoration: none;
//    }
//
//    * {
//    box-sizing: border-box;
//    font-family: Roboto, sans-serif;
//    }
//    button {
//    border: none;
//    display: inline-block;
//    }
//    button:hover {
//    background-color: transparent;
//    }
//}