.backgroundImage {
	position: absolute;
	bottom: -10px;
	left: -3px;
	width: calc(100% + 6px);
	border-radius: 0 0 16.5px 16.5px;
	filter: var(--theme-ui-colors-cardFilter);
	transition: filter 0.3s ease-in-out;
}
.backgroundGradient {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: var(--theme-ui-colors-cardFilter);
	transition: filter 0.3s ease-in-out;
}

.header {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	transition: filter 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.panel {
    position: absolute;
	overflow: hidden;
	width: min(76%, 800px);
	height: auto;
	border-radius: 16.5px;
	background-color: var(--theme-ui-colors-cardBackground);
	transition: background-color 0.3s ease-in-out;
	backdrop-filter: blur(7px);
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10%;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 100;
	margin-top: 0px;
	margin-bottom: -20px;
    font-size: max(2em, 4vw);
    color: var(--theme-ui-colors-text);
	transition: color 0.3s ease-in-out;
	word-break: break-word;
}

.subtext {
	margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: max(1.5em, 1.5vw);
    color: var(--theme-ui-colors-text);
	transition: color 0.3s ease-in-out;
}

.subtextExtra {
    margin-bottom: 80px;
}

@keyframes arrow-slide {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-1em);
                transform: translateY(-1em);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
.arrow {
    -webkit-animation: arrow-slide 2s ease-in-out infinite both;
            animation: arrow-slide 2s ease-in-out infinite both;
}

.arrowSpan {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.arrowHidden {
    display: none;
}

.buttonLayout {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	padding: 0px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: right;
	position: static;
	flex: none;
	order: 1;
	flex-grow: 0;

	margin: 5px;
	padding: 5px 10px;
	border-radius: 8px;
}
