.purpleText {
    font-size: 72px;
    color: #775EBF;
    text-transform: uppercase;
}

.block {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left:25px;
    padding-right:25px;
    float: left;
    width: auto;
    text-align: center;
}

.content {
    padding: 2em;
}