.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    grid-template-areas: 
        "header header header header header header header header header header header header"
        "header header header header header header header header header header header header"
        "header header header header header header header header header header header header"
        ".      new    .      .      .      .      .      .      .      .      .      .     "
        ".      .      new1   new1   .      new2   new2   .      new3   new3   .      .     "
        ".      .      new1   new1   .      new2   new2   .      new3   new3   .      .     "
        ".      proj   .      .      .      .      .      .      .      .      .      .     "
        ".      .      proj1  proj1  .      proj2  proj2  .      proj3  proj3  .      .     "
        ".      .      proj1  proj1  .      proj2  proj2  .      proj3  proj3  .      .     "
        "footer footer footer footer footer footer footer footer footer footer footer footer";
}