.Container {
  height:55px;
  background-color: #fff;
  position: fixed;
  width:100%;
  top:0;
  box-shadow: 0px 4px 4px 0px #00000025;
  z-index: 100;
}
.navLeft {
  width:400px;
  height:100%;
  align-items: center;
  display:inline-flex;
}
.navTitle {
  color: #000;
  display:inline;
  font-weight: 450;
}

.navRight {
  width: calc(100% - 400px - 5%);
  height: 100%;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin-right: 5%;
}
.navRight a {
  color: #000;
  font-size: 26px;
  font-weight: 300;
}

.mousemono {
  padding: 5px 10px;
}