.hr {
    width: 100%;
    border-top: solid #F27878 2px;
    margin-bottom: 20px;
}

.BoxContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: solid 2px #F27878;
    background-color: #F6F6F6;
    padding: 20px;
    margin-top: 50px;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.07));
}

.title {
    margin-top: 0;
}

.AutoLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.AutoItem {
    position: static;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    width: 300px;
    height: 150px;
    margin-top: 20px;
}

.AutoItem div {
    height: 100%;
    background-color: #f00;
}

.AutoItem div img {
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: auto;
    top: 0;
}

.AutoItem div p {
    color: #000;
    font-size: 20px;
    position: relative;
}
