.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.item {
    display: flex;
    height: 35vmin;
    margin-left: 10px;
    margin-right: 10px;
}

.fitItemWidth {
    width: fit-content;
}
